body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.sidebar {
    width: 15%;
    height: 100%;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.message-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.message-content {
    flex-grow: 1;
    overflow-y: auto;
}


.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}